<div class="timesheet">
  <label class="employeesLabel">Select Employee:</label>
  <select (change)="changedEmployee()" [(ngModel)]="selectedEmployee">
    <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.name}}</option>
  </select>
  <button (click)="addingNew()" class="addNewClass">
    Add
  </button>

  <table class="table margins">
    <tr>
      <th>Task Name</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <tr *ngFor="let timeSheet of timesheets">
      <td>{{timeSheet.task.name}}</td>
      <td>{{timeSheet.dayEffortLogs[0].value}}</td>
      <td>{{timeSheet.dayEffortLogs[1].value}}</td>
      <td>{{timeSheet.dayEffortLogs[2].value}}</td>
      <td>{{timeSheet.dayEffortLogs[3].value}}</td>
      <td>{{timeSheet.dayEffortLogs[4].value}}</td>
      <td>{{timeSheet.dayEffortLogs[5].value}}</td>
      <td>{{timeSheet.dayEffortLogs[6].value}}</td>
    </tr>
    <tr *ngIf="addNewTimeSheetFlag">
      <td>
        <select [(ngModel)]="selectedTask">
          <option *ngFor="let task of tasks" [ngValue]="task">{{task.name}}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="Sunday" />
      </td>
      <td>
        <input [(ngModel)]="Monday" />
      </td>
      <td>
        <input [(ngModel)]="Tuesday" />
      </td>
      <td>
        <input [(ngModel)]="Wednesday" />
      </td>
      <td>
        <input [(ngModel)]="Thursday" />
      </td>
      <td>
        <input [(ngModel)]="Friday" />
      </td>
      <td>
        <input [(ngModel)]="Saturday" />
      </td>
    </tr>
  </table>

  <div class="actions">
    <button (click)="backToEmployee()" class="button">Back To List</button>
    <button (click)="addNewTimeSheet()">Save</button>
  </div>
</div>